@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

:root {
    /* Colors */
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);

    /* Typo */
    font-size: 12px;
    --light-font-weight: 500;
    --bold-font-weight: 800;
    --title-font-size: 1.5rem;
}

html, body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

a {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    padding: 3rem 0;
    background: var(--very-light-grayish-blue);

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.notification-box {
    background-color: var(--white);
    background-color: red;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background-color: var(--white);
    box-shadow: .5rem .5rem 2rem var(--Light-grayish-blue-2),
            -.3rem -.3rem 2rem var(--Light-grayish-blue-2);
}

@media (max-width: 600px) {
    .wrapper {
        padding: 0;
    }
    .notification-box {
        width: 100%;
    }
}

.box__header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.5rem;
    background-color: var(--white);
}

.box__header .title {
    font-size: var(--title-font-size);
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.notification-number {
    padding: 1px .7rem;
    border-radius: .5rem;
    background-color: var(--Blue);
    color: var(--white);
    font-size: 1rem;
}

.mark-all-as-read {
    color: var(--Dark-grayish-blue);
}

.mark-all-as-read:hover {
    color: var(--Blue);
}

.box__card {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
    padding: 1rem;

    border-radius: .5rem;
    box-shadow: .1px .1px .5rem var(--Light-grayish-blue-2);

    margin-bottom: 1rem;
    position: relative;
}

.box__card.has-msg {
    align-items: flex-start;
}

.box__card.has-picture::after {
    content: "";

    height: 65%;
    width: 7%;
    background-color: red;

    position: absolute;
    right: .5rem;

    border-radius: inherit;

    background-size: cover;
    background-repeat: no-repeat;
}

.box__card.has-picture.kim::after {
    background: url(assets/images/image-chess.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.box__card.unread {
    background-color: hsl(210, 60%, 95%);
}

.box__card:hover {
    background-color: var(--Light-grayish-blue-2);
}

.avt-img {
    max-height: 100%;
    height: 7%;
    width: 7%;
}

.details__action, .details__ref {
    margin-left: .1rem;
}

.details__action {
    color: var(--Grayish-blue);
}

.details__msg {
    margin-top: .7rem;
    padding: 1rem;
    border-radius: .5rem;

    background-color: hsl(206, 66%, 90%);
    color: var(--Dark-grayish-blue);
}

.box__card:hover .details__msg {
    background-color: white;
}

.details__ref {
    color: var(--Dark-grayish-blue);
}

.details__time {
    color: var(--Grayish-blue);
    margin-top: .4rem;
}

.details__name:hover, .details__ref:hover {
    color: var(--Blue);
}